# environment
NODE_ENV=development
PORT=8080

# database
DATABASE_URL=postgresql://admin:root@localhost:5432/tss_backend_db

# tss
TSS_NODE1_URL="http://localhost:8000"
TSS_NODE1_LISTEN_ADDRESS="/ip4/0.0.0.0/tcp/10000"
TSS_NODE1_HOME="node1"
TSS_NODE2_URL="http://localhost:8001"
TSS_NODE2_LISTEN_ADDRESS="/ip4/0.0.0.0/tcp/20000"
TSS_NODE2_HOME="node2"
TSS_NODE3_URL="http://localhost:8002"
TSS_NODE3_LISTEN_ADDRESS="/ip4/0.0.0.0/tcp/30000"
TSS_NODE3_HOME="node3"

# rpc 
RPC_EVM_URL="http://localhost:8545"