# environment
NODE_ENV=development
PORT=8080

# database
DATABASE_URL=postgresql://admin:root@localhost:5432/tss_backend_db

# tss
TSS_NODE1_URL="http://localhost:8000"
TSS_NODE2_URL="http://localhost:8001"
TSS_NODE3_URL="http://localhost:8002"